<footer>
  <div class="footer-container">
    <div class="footer-section">
      <p>Journal</p>
      <ul>
        <li><a href="#">Create New Entry</a></li>
        <li><a href="#">View Past Entries</a></li>
        <li><a href="#">Edit Entries</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <p>Dashboard</p>
      <ul>
        <li><a href="#">Sleep Paterns</a></li>
        <li><a href="#">Eating Habits</a></li>
        <li><a href="#">Exercise Logs</a></li>
        <li><a href="#">Mood Tracker</a></li>
        <li><a href="#">Select Affirmations</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <p>Profile</p>
      <ul>
        <li><a href="#">Personal Information</a></li>
        <li><a href="#">Privacy Setting</a></li>
        <li><a href="#">Notification Reference</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <p>Support</p>
      <ul>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact Support</a></li>
        <li><a href="#">User Guide</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <p>Copyright &copy; 2024 Flinders University. All rights reserved.</p>
  </div>
</footer>
