body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.left-panel {
  width: 66.67%;
  padding-right: 20px;
}

.right-panel {
  width: 33.33%;
  padding-left: 20px;
}

.affirmation-slider {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.affirmation-slider .quote {
  font-size: 24px;
  color: #555;
  display: none;
  text-align: center; /* Center text horizontally */
  width: 100%; /* Ensure the quote takes full width */
}

.affirmation-slider .quote.active {
  display: block;
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

.goal-for-week {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #555;
  cursor: pointer;
  position: relative;
}

.goal-for-week h2 {
  font-size: 18px;
  color: #555;
}

.goal-for-week p {
  font-size: 20px;
  color: #555;
  background-color: #f5c6cb;
  padding: 10px;
  border-radius: 5px;
}

#setGoalButton {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: -10px;
  right: 20px;
  transform: translateY(100%);
}

#setGoalButton:hover {
  background-color: #0056b3;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.new-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.new-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.congrats-message {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.congrats-message h2 {
  color: white;
  font-size: 36px;
  margin-top: 20%;
}

#confetti {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 0.8;
  animation: fall 4s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.calendar {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.calendar h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.calendar-view {
  display: flex;
  flex-direction: column;
}

.calendar .days {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.calendar .dates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
}

.calendar .dates span {
  width: 14%;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  cursor: pointer;
}

.month-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.nav-arrow {
  cursor: pointer;
  font-size: 24px;
  user-select: none;
}

.calendar .dates span.selected {
  background-color: #e0e0e0;
  font-weight: bold;
}

.mood-chart {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.mood-chart h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

#moodChart {
  max-width: 100%;
  height: 200px;
}

.left-side-panel {
  width: 33.33%;
  padding-right: 20px;
  height: 70%;
}

.main-panel {
  width: 50%;
  padding-right: 20px;
  height: 70%;
}

.add-new-post {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.add-new-post button {
  padding: 10px 20px;
  background-color: rgb(161, 50, 149);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.journalList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0.5px 0px 1px #f0f0f0;
}

/* div .journalList {
  background-color: white;
  box-shadow: 0px 0.5px 0px 1px #f0f0f0;
} */

/* div .journal-item {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  border: #f0f0f0;
  box-shadow: 0px 0.5px 0px 1px #f0f0f0;
  margin: 10px;
  font-size: medium;
  cursor: pointer;
} */

div .journal-title {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: #f0f0f0;
  box-shadow: 0px 0.5px 0px 1px #f0f0f0;
  margin: 10px;
  font-size: medium;
  cursor: pointer;
}

div .journal-content {
  font-size: small;
  padding-top: 5px;
}

div .journal-date {
  font-size: small;
  font-style: italic;
  color: #888;
  padding-top: 5px;
}

div.journal-title:hover {
  background-color: #f0f0f0;
}

.journal-details {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-bar {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;

  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  #searchJournal btn {
    background: none;
    border: none;
    padding: 0;
    border-radius: 5px;
    border: none;
  }

  #searchJournal img {
    display: block;
  }
}

.journal-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #888;
  width: 100%;
  max-height: fit-content;
  max-width: 600px;
  text-align: left;
  border-radius: 20px;

  h3 {
    position: relative;
    span {
      position: absolute;
      top: -30px;
      right: 20px;
    }
  }
}

#line {
  border: solid #f0f0f0 0.1px;
}

#journalForm {
  display: flex;
  flex-direction: column;

  input[type="title"] {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    width: 90%;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
    font-size: medium;
  }

  #journalDate {
    padding-left: 20px;
    padding-right: 20px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: #888;
    font-style: italic;
  }

  textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    resize: none;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  input[type="submit"] {
    align-self: flex-end;
    padding: 5px 10px;
    background-color: white;
    color: rgb(161, 50, 149);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: x-small;
    margin-top: 10px;
    margin-right: 20px;
    box-shadow: 0px 0.5px 0px 1px #f0f0f0;
  }

  .moodInput {
    align-self: flex-end;
    /* display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center; */
    margin-right: 20px;
    margin-bottom: 5px;

    label {
      font-size: small;
      align-self: flex-end;
    }

    .moodbtn {
      padding: 10px;
      margin: 2px;
      border-radius: 50%;
      border: solid #f0f0f0 0.1px;
      font-size: x-small;
      align-self: flex-end;
      background-color: white;
    }
    .moodbtn:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }
  }
}
