body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 200px;
    background-color: #D1A3F0;
    height: 100vh;
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    color: white;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.main-content {
    margin-left: 220px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
}

.therapist-info {
    display: flex;
    align-items: center;
}

.therapist-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.content {
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.create-group-btn {
    background-color: #FF6B6B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table th {
    background-color: #f2f2f2;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.journal-btn {
    background-color: #6C63FF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.note-btn {
    background-color: #69E069;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.next-btn {
    background-color: #D1A3F0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-around; /* 或者使用space-between, center来控制间距 */
    background-color: #9379ff; /* 设置背景颜色 */
    padding: 10px;
    margin: 0; /* 取消外边距 */
    list-style: none; /* 取消项目符号 */
}

.navbar a {
    color: white;
    text-decoration: none; /* 移除下划线 */
    padding: 10px 20px;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #6f4cff; /* 悬停时的背景颜色 */
    border-radius: 5px; /* 圆角边框 */
}

